<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add student data</title>
</head>

<body>
    <div>
        <form action="/teacher/result-dashboard/add-result" method="post">
            Enter roll no: <input type="text" name="roll_no">
            <br>
            Enter name:<input type="text" name="stu_name">
            <br>
            Enter dob:<input type="date" name="dob">
            <br>
            Enter score:<input type="text" name="score">
            <br>
            <input type="submit" value="Save student data">
        </form>
    </div>
</body>

</html>