<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::Result::</title>
</head>

<body>
    <div class="align-center">
        Result
        <%=result.roll_no%>
            <%=result.stu_name%>
                <%=new Date(result.dob).toISOString().split('T')[0]%>
                    <%=result.score%>
    </div>
    <div>
        <% if(result.score> 3){ %>
            <h4>PASS</h4>
            <%}else{ %>
                <h4>FAIL</h4>
                <% } %>
    </div>
</body>

</html>