<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
</head>

<body>
    <form action="/student/search-result/result" method="post">
        Enter roll no:<input type="text" name="rollno" placeholder="roll number" required>
        Enter dob:<input type="date" name="dob" required>
        <input type="submit" value="search result">
    </form>
</body>

</html>